<div class="span12">

<div id="wrapper">
<form name="login-form" class="login-form" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
     <div class="header">
    <h1>Profile</h1>
    <span>Modifica tus datos y pulsa enviar</span>
    </div>

    <div class="content">
    {{ form_widget(form) }}
    </div>
    <div class="footer">
        <input type="submit" name="submit" value="Guardar" class="button" />
    </div>

</form>
</div>
</div>
