/*
 * @author: Francisco Neves
 */

/** Reset */
* { font-family: "museo500", "Arial"; font-size: 12px; list-style: none; margin: 0; padding: 0; outline: 0; text-decoration: none; box-sizing: border-box !important; -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; -ms-box-sizing: border-box !important; }

/**
 *  START FREEBIE STYLES
 */

 	/*! Font Faces */
	@font-face{ 
		font-family: 'museo500';
	    src: url('../fonts/MuseoSans_500-webfont.eot');
	    src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
	         url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
	         url('../fonts/MuseoSans_500-webfont.svg#museo_sans_500regular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	/*! Freebie */
	div.fb-notify
	{
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

		border: 1px solid black;
	}

	div.fb-notify .header-wrapper, div.fb-notify .content-wrapper
	{
		padding: 10px;
		-moz-box-shadow: inset 0 2px 0 -1px rgba(255,255,255,0.2);
		-webkit-box-shadow: inset 0 2px 0 -1px rgba(255,255,255,0.2);
		box-shadow: inset 0 2px 0 -1px rgba(255,255,255,0.2);
	}

	div.fb-notify .header-wrapper
	{
		width: 100%;
		display: table;
		padding-left: 20px;
		padding-right: 20px;

		border-bottom: 1px solid #000;

		background: #464646; /* Old browsers */
		background: -moz-linear-gradient(top, #464646 0%, #3f3f3f 50%, #3f3f3f 51%, #3d3d3d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(50%,#3f3f3f), color-stop(51%,#3f3f3f), color-stop(100%,#3d3d3d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #464646 0%,#3f3f3f 50%,#3f3f3f 51%,#3d3d3d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #464646 0%,#3f3f3f 50%,#3f3f3f 51%,#3d3d3d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #464646 0%,#3f3f3f 50%,#3f3f3f 51%,#3d3d3d 100%); /* IE10+ */
		background: linear-gradient(to bottom, #464646 0%,#3f3f3f 50%,#3f3f3f 51%,#3d3d3d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#3d3d3d',GradientType=0 ); /* IE6-9 */
	}

	div.fb-notify .header-wrapper .title
	{
		font-family: "Helvetica";
		font-size: 15px;
		font-weight: bold;

		color: #e6e6e6;
		float: left;
	}

	div.fb-notify .header-wrapper .notifications
	{
		font-family: "Helvetica";
		font-size: 13px;
		padding-left: 30px;
		padding-top: 2px;
		padding-bottom: 2px;

		color: #e6e6e6;
		float: right;
		background: url(../images/notifications.png) no-repeat left top;
	}

	div.fb-notify .content-wrapper
	{
		display: table;
		padding-left: 15px;
		padding-right: 15px;
		background-color: #415a84;
	}

	div.fb-notify .content-wrapper .lastest
	{
		display: inline-block;
		background: no-repeat left center;
		padding-left: 64px;

		height: 48px;
		float: left;
		color: white;
		font-size: 16pt;
	}

	div.fb-notify .content-wrapper .lastest .bold
	{		
		color: #6d84b4;
		text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	}

	div.fb-notify .content-wrapper .lastest .comments
	{	
		margin-left: 15px;
	}

	div.fb-notify .content-wrapper .number
	{
		font-family: "Helvetica";
		float: right;
		font-size: 30pt;
		color: white;
		font-weight: 50;
		background: #3d5277;
		padding: 5px 15px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		margin-left: 10px;

		-moz-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.3), inset 0 -1px 0 0 rgba(255,255,255,0.3);
		-webkit-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.3), inset 0 -1px 0 0 rgba(255,255,255,0.3);
		box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.3), inset 0 -1px 0 0 rgba(255,255,255,0.3);
	}
/**
 *  END FREEBIE STYLES
 */
	

/**
 *	Not important styles
 */
	body
	{ 
		color: #b1b1b1;
		background: #e1e1e1; /* Old browsers */		

		font-family: "museo500";
	}

	div#text { text-align: center; font-size: 48px; width: 610px; margin: 0 auto; margin-top: 50px; margin-top: 80px; }
	div#smalltext { text-align: center; font-size: 15px; width: 600px; margin: 0 auto; }
	div#content { display: table; margin: 0 auto; padding: 30px; }