{% extends "JalisFrontendBundle::layout.html.twig" %}

{% block body %}
{% block fos_user_content %}


<h1>Registrarse</h1>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
{% endblock %}
