<h1>Photo</h1>

<table class="record_properties">
    <tbody>
<img src="/{{entity.getWebPath }}">
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Path</th>
            <td>{{ entity.path }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Obj_id</th>
            <td>{{ entity.objid }}</td>
        </tr>
        <tr>
            <th>Obj_type</th>
            <td>{{ entity.objtype }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('photo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('photo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('photo_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
