{% extends "JalisFrontendBundle::layout.html.twig" %}


{% block body %}

<script type="text/javascript">
$(document).ready(function() {
	$(".username").focus(function() {
		$(".user-icon").css("left","-48px");
	});
	$(".username").blur(function() {
		$(".user-icon").css("left","0px");
	});
	
	$(".password").focus(function() {
		$(".pass-icon").css("left","-48px");
	});
	$(".password").blur(function() {
		$(".pass-icon").css("left","0px");
	});
});
</script>
<!--WRAPPER-->
{% block fos_user_content %}
<div id="wrapper">

    <div class="user-icon"></div>
    <div class="pass-icon"></div>

<form name="login-form" class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
 <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="header">
    <h1>Login Form</h1>
    <span>Escribe tu usuario y contraseña</span>
    </div>
	
    <div class="content">
        <input name="_username" id="username" type="text" class="input username" value="Username" onfocus="this.value=''" />
        <input name="_password" id="password" type="password" class="input password" value="Password" onfocus="this.value=''" />
    </div>
    
    <div class="footer">
        <input type="submit" name="submit" value="Login" class="button" />
        <input type="submit" name="submit" value="Register" class="register" />
    </div>

</form>

</div>
<!--END WRAPPER-->

<!--GRADIENT--><div class="gradient"></div><!--END GRADIENT-->

{% endblock fos_user_content %}
{% endblock %}

