<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
        {% block stylesheets %}{% endblock %}


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
{% block body %}
 {% block fos_user_content %}{% endblock %}
{% endblock %}

        

        {% block javascripts %}{% endblock %}
    </body>
</html>
